:root {
  /* Text colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;

  /* BG colors */
  --primary-bgc: #ffffff;
  --secondary-bgc: #2f303a;
  --button-bgc: #f5f4fa;
  --team-bgc: #f5f4fa;
  --filters-bgc: #eeeeee;

  /* Color to icons */
  --primary-icon: #afb1b8;

  /* Transitions */
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* 
Base styles */

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}
/* reset end */

/* Header */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  align-items: center;
}
.logo-nav {
  color: var(--accent-color);
  font-family: 'Raleway', 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  margin-right: 93px;
}

.logo-nav > span {
  color: var(--title-text-color);
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list-item {
  position: relative;
}
.nav-item {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color);
}

.nav-item.current {
  color: var(--accent-color);
}

.nav-item.current::after {
  content: '';
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 4px;
  background-color: var(--accent-color);
}
.header-contacts {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 32px 0;
}

.contacts-tel,
.contacts-mail {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02;

  display: flex;
  align-items: center;
  gap: 10px;

  transition: color var(--transition-duration) var(--transition-timing-function);
}
.contacts-tel:hover,
.contacts-tel:focus,
.contacts-mail:focus,
.contacts-mail:hover {
  color: var(--accent-color);
}

.header-icon {
  fill: currentColor;
}
/* Main studio*/

/* Загальна настройка заголовків */
.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

/* Hero */
.section-hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/studia/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin: 0 auto;
}

.hero-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  border-radius: 4px;
  border: none;
  padding: 9px 31px;

  display: inline-block;

  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Preference section*/
.preference {
  padding-top: 94px;
}

.preference .container {
  padding: 0 215px;
}

.preference-list {
  display: flex;
  gap: 30px;
}

.preference-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.preference-text {
  width: 270px;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.preference-icon {
  --color1: #212121;
}
.preference-gen-icon {
  width: 270px;
  height: 120px;

  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

/* Examples section */
.about {
  padding-top: 0;
}
.examples {
  padding-top: 94px;
}
.examples-list {
  display: flex;
  gap: 32px;
  margin-top: 50px;
}

.examples-thumb {
  position: relative;
}
.examples-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
}
.examples-text {
  text-transform: uppercase;
  font-weight: 700;
  line-height: calc(16 / 14);
  color: var(--secondary-text-color);
  text-align: center;
}
/* Team section */
.team {
  background-color: var(--team-bgc);
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  padding-bottom: 30px;
  background: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-bottom: 16px;
}

/* Socials in section Team */

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bgc);
  color: var(--primary-icon);

  transition: color, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.socials-link:hover,
.socials-link:focus,
.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.socials-icon {
  fill: currentColor;
}

/* Section Regular-custumers */
.customers-area {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--primary-icon);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.customers-area:hover,
.customers-area:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.regular-customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.customers-icon {
  fill: currentColor;
}

/* Main Portfolio*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-portfolio {
  background-color: var(--primary-bgc);
}
/* Filters section */
.filters {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filters-item {
  color: var(--title-text-color);
  background-color: var(--button-bgc);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  font-family: inherit;

  border-radius: 4px;
  padding: 6px 22px;
  min-height: 38px;
  border: none;

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.filters-item:hover,
.filters-item:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.title-item {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.item-text {
  font-size: 16px;
  line-height: calc(30 / 16);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: calc((100% - 60px) / 3);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--secondary-text-color);
  backdrop-filter: blur (3px);

  user-select: none;

  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.33;
}
.portfolio-description {
  padding: 20px 24px;
  border: 1px solid var(--filters-bgc);
}

/* Footer */
.footer {
  background-color: var(--secondary-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  justify-content: left;
  align-items: baseline;
  gap: 70px;
}
.logo-footer {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.logo-footer > span {
  color: var(--secondary-text-color);
}

/* Footer contacts */

.contacts-footer {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.contacts {
  line-height: calc(24 / 14);
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contacts-footer-address {
  color: var(--secondary-text-color);
}

.contacts-footer-mail:hover,
.contacts-footer-mail:focus,
.contacts-footer-tel:hover,
.contacts-footer-tel:focus {
  color: var(--accent-color);
}

/* Join */
.join-list {
  display: flex;
  gap: 10px;
}

.footer-text {
  font-weight: 700;
  font-size: calc(16 / 14);
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.socials-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-text-color);

  transition: color, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

/* Subscription */

.subscription-form {
  margin-left: auto;
}

.subscription-area {
  display: flex;
  gap: 12px;
}

.subscription-field {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: var(--secondary-text-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscription-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);

  width: 100%;
  height: 100%;

  transition-property: opacity, visibility;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-80%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  width: 528px;
  padding: 40px 39px 41px;

  background-color: var(--primary-bgc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: transform, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  background-color: var(--primary-bgc);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-btn:focus,
.modal-btn:hover {
  fill: var(--accent-color);
}
.modal-form-group {
  margin-bottom: 20px;
}

.modal-label {
  display: block;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: rgba(33, 33, 33, 1);

  margin-bottom: 12px;
}

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 1);

  margin-bottom: 4px;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-field {
  width: 100%;
  height: 40px;
  padding-left: 41px;
  padding-right: 39px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: outline-color var(--transition-duration) var(--transition-timing-function);
}

.modal-form-field:focus {
  outline-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-form-field:focus + .modal-form-icon {
  fill: var(--accent-color);
}

/* Message */
.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: outline var(--transition-duration);
  resize: none;
}

.modal-form-message:focus {
  outline-color: var(--accent-color);
}

.modal-form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.modal-form-agreement-desc {
  line-height: calc(24 / 14);
  user-select: none;
}

.modal-form-agreement-link {
  color: var(--accent-color);
  /* Опускаю нижче лінію підкреслення */
  text-underline-offset: 3px;
}

.modal-form-checkbox {
  appearance: none;
  width: 16px;
  height: 15px;

  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");

  transition: var(--transition-duration);
}

.modal-form-checkbox:checked {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
  background-size: 11px 8px;
}

.modal-form-checkbox:focus {
  outline-color: var(--accent-color);
}
.modal-form-btn {
  display: block;
  margin: 0 auto;
}
